.w100 {
  width: 100% !important;
}
.h100 {
  height: 100% !important;
}
.flx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flx-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.flx-end {
  display: flex;
  align-items: center;
  justify-content: end;
}

.flx-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* 文字单行省略号 */
.sle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 文字多行省略号 */
.mle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/* 文字多了自動換行 */
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

.default-main {
  margin: var(--ba-main-space) var(--ba-main-space) 60px var(--ba-main-space);
}

/* 鼠标置入浮动效果-s */
.suspension {
  transition: all 0.3s ease;
}
.suspension:hover {
  -webkit-transform: translateY(-4px) scale(1.02);
  -moz-transform: translateY(-4px) scale(1.02);
  -ms-transform: translateY(-4px) scale(1.02);
  -o-transform: translateY(-4px) scale(1.02);
  transform: translateY(-4px) scale(1.02);
  -webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  z-index: 999;
  border-radius: 6px;
}

.small-panel-box {
  margin-top: 20px;
}
.small-panel {
  background-color: #e9edf2;
  border-radius: var(--el-border-radius-base);
  padding: 25px;
  margin-bottom: 20px;
  .small-panel-title {
    color: #92969a;
    font-size: 15px;
  }
  .small-panel-content {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    color: #2c3f5d;
    .content-left {
      font-size: 24px;
      .icon {
        margin-right: 10px;
      }
      span {
        display: inline-block;
        font-size: 28px;
      }
    }
    .content-right {
      font-size: 18px;
      margin-left: auto;
    }
    .color-success {
      color: var(--el-color-success);
    }
    .color-warning {
      color: var(--el-color-warning);
    }
    .color-danger {
      color: var(--el-color-danger);
    }
    .color-info {
      color: var(--el-text-color-secondary);
    }
  }
}
